@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@layer components {
    .input {
        @apply h-10 rounded px-4 outline-none border border-zinc-400 text-sm focus:border-black
    }
    .textarea {
        @apply rounded p-2 outline-none border border-zinc-400 text-sm focus:border-black
    }
}